.course-card {
  min-height: 380px;
  width: 300px;
  border: 1px solid grey;
}

.course-image,
.course-card {
  border-radius: 10px;
}

.course-image {
  height: 200px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.contents-container {
  padding: 15px;
}

.course-name {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.author-name {
  font-size: 12px;
  font-weight: 300;
  color: green;
  margin-top: 6px;
}

.content-description {
  font-size: 12px;
  margin-top: 6px;
}

.rating-container {
  margin-top: 6px;
}

.rating,
.price {
  font-size: 16px;
  font-weight: bold;
}

.no-of-rating {
  color: grey;
  font-size: 16px;
  margin-left: 4px;
}

.price-container {
  margin-top: 6px;
}
.striked-price {
  margin-left: 4px;
  text-decoration: line-through;
  color: grey;
  font-size: 14px;
  font-weight: 300;
}
.cta {
  margin-top: 6px;
  background-color: green;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 4px;
}

.remove {
  background-color: transparent;
  border: 1px solid green;
  color: green;
}
